:root{

/* --text-left-1: 50px; */

}

.dropdown {
	overflow: hidden;
	background-color: white;
	position: fixed; /* Set the navbar to fixed position */
	top: 0; /* Position the navbar at the top of the page */
	width: 100%;
	/* bottom: 5%; */
  display: inline-block;
	padding: 10px 10px;
	z-index: 1;
}

.dropdown-content {
  display: none;
	position: fixed;
	top: auto;
	right: 0;
	float: right;
  /* background-color: #f9f9f9; */
  min-width: 160px;
	max-width: 20%;
  /* box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2); */
  /* padding: 8px 10px; */
  z-index: 1;
}

.dropdown:hover .dropdown-content {
  display: block;
}

/* navigation bar */
ul{
	/* float:right; */
	position: relative;
	list-style-type: none;
	margin: 0;
	padding: 0;
	/* display: inline; */
	overflow: hidden;
	background: #f9f9f9;
}

li {
	/* float: right; */
}

li a{
  /* float: right; */
	display: block;
	color: black;
	text-align: auto;
	padding: 8px 10px;
	text-decoration: none;
}


/* Change the link color on hover */
li a:hover {
  background-color: black;
	color: white;
}
.active {
	background-color: #dddd;
}

.title{
	z-index:2;
	font-size: 24px;
	display: inline-block;
	position: sticky;
	top: 1%;
	height: 10%;
	left:10px;
	text-align: left;
	bottom: : 0%;
  letter-spacing: 1px;
  line-height: 1;
	font-weight: 400;
}

#names{
	font-size: 15px;
	top: 4%;
}

ul.circ{
	list-style-type: circle;
	margin: 50px;
	/* padding: 20px; */
	display: inline;
	background: white;
  list-style-position: outside;
}

ol.decimal{
	list-style-type: decimal;
  list-style-position: outside;
	margin: 50px;
	padding: 0px;
	display: inline;
	background: white;
	text-align:left;
	display: none;
	color: black;

}

/* for graph */
#filterBy{
	width: 150px;
}

#graphContainer{
	float: right;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap
}

#button_panel{
	width: 100%; margin-bottom: 50px
}

.space_container{
	top: 9000px;
	height: 350px;
}

body {
	margin-top: 50px;
  font-family: 'Open Sans', 'Roboto', 'Source Sans Pro', sans-serif;
  color: #111111;
	-webkit-text-size-adjust: 100%;
-webkit-font-feature-settings: "kern" 1;
-moz-font-feature-settings: "kern" 1;
-o-font-feature-settings: "kern" 1;
font-feature-settings: "kern" 1;
font-kerning: normal;
display: flex;
min-height: 100vh;
flex-direction: column;
}

/* Column container */
.row {
  display: -ms-flexbox; /* IE10 */
  display: flex;
  -ms-flex-wrap: wrap; /* IE10 */
  flex-wrap: wrap;
	flex-direction: row;
}

/* Main column */
.main {
  -ms-flex: 80%; /* IE10 */
  flex: 80%;
  background-color: white;
  padding:0px;
	align: center;

}

.text{
	-ms-flex: 20; /* IE10 */
	flex: 20%;
	padding: 0px;
	/* position: relative; */
	left: 20px;
	/* padding: 7px; */
	max-width: 20%;
	background-color: white;
	/* border-radius: 5px; */
	color: #111111;
	-webkit-text-size-adjust: 100%;
	font-weight: light;
	opacity: 85%;
	font-size: 15px;
	flex-direction: row;
}



.fullwidth{
	width: 100%;
	padding: 5px;
	left: 10px;
	background-color: white;
	/* border-radius: 5px; */
	color: #111111;
	-webkit-text-size-adjust: 100%;
	font-weight: light;
	opacity: 85%;
	font-size: 15px;
	flex-direction: row;
}

.halfwidth{
	max-width: 50%;
	padding: 0px;
	left: 10px;
	background-color: white;
	/* border-radius: 5px; */
	color: #111111;
	-webkit-text-size-adjust: 100%;
	font-weight: light;
	opacity: 85%;
	font-size: 15px;
}

@media (max-width: 300px) {
  text, main {
    width: 100%;
    height: auto;
  }
}

#fingerprint{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
	position:relative;
  padding: 20px;
}

/* fingerprint container */
/* .container1{
	position: absolute;
	top: 0;
	height: 1000px;
	width: 1000px;
} */

.sectiontitle{
	font-size: 20px;
	font weight: 2000px;
}

.indent{
	left: 50px;
}

.caption{
	font-style: italic;
	text-align: center;
	font-size: 12px;
}

.img_title{
	font-size: 20px;
	text-align: center;
	font-style: italic;
}

/* DO I need anything below? */
/* .axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.line {
  fill: none;
  stroke: steelblue;
  stroke-width: 2px;
}

.references h{
	font-style: italic;
	font-size: 25px;
}

.axis text {
  font-family: sans-serif;
  font-size: 7px;
}

.container{
  display: flex;
  flex-wrap: wrap;
  /* flex-direction: column; */
  /* margin: 20px; */
/* } */

/* .timeline-label{
  font-size: 7px;
} */

/* .timelineHeader{
  font-size: 12px;
} */

/* .tick text{
  text;
} */
